@model ProductViewModel

@{
    var categories = new SelectList(ViewBag.Categories, "Id", "Name");
}

<div class="col-md-6">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Product Description</label>
        <textarea asp-for="Description" type="text" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Product Price</label>
        <input asp-for="Price" type="text" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="categories" class="form-control">
            <option disabled selected>-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}